

h5 {
    text-align: center;
}

.DetallesSiniestros {
    color: white;
    outline: none;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    text-align: center;
    line-height: 3;
    border-radius: 10px;
}

    .DetallesSiniestros:link, a:visited, a:focus {
        background: #687e8c;
    }

    .DetallesSiniestros:hover {
        color: white;
        background: #485f6c;
    }

    .DetallesSiniestros:active {
        background: #de8c1c;
        color: white;
    }

.BotonPresupuestos {
    color: white;
    outline: none;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    text-align: center;
    line-height: 3;
    border-radius: 15px;
}

    .BotonPresupuestos:link, a:visited, a:focus {
        background: #687e8c;
    }

    .BotonPresupuestos:hover {
        color: white;
        background: #485f6c;
    }

    .BotonPresupuestos:active {
        background: #de8c1c;
        color: white;
    }

.BotonRegreso {
    color: white;
    outline: none;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    border-radius: 7px;
    margin-left: 0;
    padding: 0 1rem 0 1rem;
    margin-right: 0.625%;
    text-align: center;
    line-height: 3;
}

    .BotonRegreso:link, a:visited, a:focus {
        background: #687e8c;
    }

    .BotonRegreso:hover {
        color: white;
        background: #485f6c;
    }

    .BotonRegreso:active {
        background: #de8c1c;
        color: white;
    }

.siniestrosLabels {
    font-weight: 700;
}

select {
    width: 100%;
    padding: 7px 15px;
    border: none;
    border-radius: 4px;
    border-style: solid;
    border-color: black;
    background-color: #f1f1f1;
}

.formularios{

    margin: 5px;
    padding: 1px;
    padding-bottom: 20px;

}

.creadopor {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
}

.eliminarArchivos {
    color: white;
    outline: none;
    text-decoration: none;
    display: inline-block;
    width: 30%;
    text-align: center;
    line-height: 3;
    border-radius: 10px;
}

    .eliminarArchivos:link, a:visited, a:focus {
        background: #687e8c;
    }

    .eliminarArchivos:hover {
        color: white;
        background: #485f6c;
    }

    .eliminarArchivos:active {
        background: #de8c1c;
        color: white;
    }

    
