.titulosEstados {
    text-align: center;
    color: white;
    background-color: #343F46;
    margin-top: 1rem;
    padding: 5px 1.5rem 2px 1.5rem;
}

ul {
    padding: 0;
    margin-bottom: 2px;
}

.LigaSiniestros {
    color: white;
    background: #687e8c;
    outline: none;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    margin-right: 0.625%;
    text-align: center;
    line-height: 3;
    border-radius: 0px;
    margin-bottom: 5px;
}

    .LigaSiniestros:link, .LigaSiniestros:visited, .LigaSiniestros:focus {
        color: white;
        background: #687e8c;
        text-decoration: none;
    }

    .LigaSiniestros:hover {
        color: white;
        background: #485f6c;
        text-decoration: none;
    }

    .LigaSiniestros:active {
        background: #de8c1c;
        color: white;
    }