.titulosEstados {
    text-align: center;
    color: white;
    background-color: #343F46;
    margin-top: 1rem;
    padding: 5px 1.5rem 2px 1.5rem;
}

.formularios{

    margin: 5px;
    padding: 1px;
    padding-bottom: 20px;

}

ul {
    padding: 0;
    margin-bottom: 2px;
}

form{
    margin: 0 !important;
    padding: 0 !important;
}

.LigaSiniestros {
    color: white;
    background: #687e8c;
    outline: none;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    padding: 0 -5px 0 -5px;
    text-align: center;
    line-height: 3;
    margin-bottom: 5px;
    border-radius: 8px;
}

    .LigaSiniestros:link, .LigaSiniestros:visited, .LigaSiniestros:focus {
        color: white;
        background: #687e8c;
        text-decoration: none;
    }

    .LigaSiniestros:hover {
        color: white;
        background: #485f6c;
        text-decoration: none;
    }

    .LigaSiniestros:active {
        background: #de8c1c;
        color: white;
    }

.detalles{
    font-size: 12px;
    background:#687e8c;
    color:white !important;
    outline: none;
    width: 100%;
    display: inline-block ;
    text-align: center;
    line-height: 3;
    border-radius: 20px;
    padding: 1px 22px 1px 22px;
    
    }
    
        .detalles:hover {
        color: white;
        background: #2f698d;
        text-decoration: none;

        }
    
        .detalles:active {
        background: #de8c1c;
        color: white;
        }

.BotonPresupuestos {
    color: white;
    outline: none;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    text-align: center;
    line-height: 3;
    border-radius: 15px;
}

    .BotonPresupuestos:link {
        background: #687e8c;
    }

    .BotonPresupuestos:hover {
        color: white;
        background: #485f6c;
    }

    .BotonPresupuestos:active {
        background: #de8c1c;
        color: white;
    }
    
.BotonRegreso {
    color: white;
    outline: none;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    border-radius: 7px;
    margin-left: 0;
    padding: 0 1rem 0 1rem;
    margin-right: 0.625%;
    text-align: center;
    line-height: 3;
}

    .BotonRegreso:link{
        background: #687e8c;
    }

    .BotonRegreso:hover {
        color: white;
        background: #485f6c;
    }

    .BotonRegreso:active {
        background: #de8c1c;
        color: white;
    }

.eliminarArchivos {
    color: white;
    outline: none;
    text-decoration: none;
    display: inline-block;
    width: 60%;
    text-align: center;
    line-height: 3;
    border-radius: 10px;
}

    .eliminarArchivos:link {
        background: #687e8c;
    }

    .eliminarArchivos:hover {
        color: white;
        background: #485f6c;
    }

    .eliminarArchivos:active {
        background: #de8c1c;
        color: white;
    }


select {
    width: 100%;
    padding: 7px 15px;
    border: none;
    border-radius: 4px;
    border-style: solid;
    border-color: black;
    background-color: #f1f1f1;
}
/* Tipos de notificación colores de siniestro */

#conqueja{
    background:rgb(173, 35, 35);
}
    #conqueja:hover {
        color: white;
        background: #485f6c;
        text-decoration: none;
    }

    #conqueja:active {
        background: #de8c1c;
        color: white;
    }

#conmasde3meses{
    background:#FFEA13;
    color: black;
}
    #conmasde3meses:hover {
        color: white;
        background: #485f6c;
        text-decoration: none;
    }

    #conmasde3meses:active {
        background: #de8c1c;
        color: white;
    }

#problemaconseguro{
    background:rgb(151, 30, 151);
}
    #problemaconseguro:hover {
        color: white;
        background: #485f6c;
        text-decoration: none;
    }

    #problemaconseguro:active {
        background: #de8c1c;
        color: white;
    }

#necesitafactura{
    background:rgb(6, 99, 175);
}
    #necesitafactura:hover {
        color: white;
        background: #485f6c;
        text-decoration: none;
    }

    #necesitafactura:active {
        background: #de8c1c;
        color: white;
    }

#conanticipoaproveedor{
    color:#21FF13;
}
    #conanticipoaproveedor:hover {
        color: white;
        background: #485f6c;
        text-decoration: none;
    }

    #conanticipoaproveedor:active {
        background: #de8c1c;
        color: white;
    }

#pendientedeale{
    background:rgb(46, 145, 22);
}
    #pendientedeale:hover {
        color: white;
        background: #485f6c;
        text-decoration: none;
    }

    #pendientedeale:active {
        background: #de8c1c;
        color: white;
    }