@import url('https://fonts.googleapis.com/css2?family=Fauna+One&display=swap');

*{
  box-sizing: border-box;
}

header {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  font-family: 'Fauna One', serif;
  margin: 0;
  padding: 7px;
  background-color: #2f393f;
}

#navSiniestros{ 
  display: inline-block;
  color: white;
  width:100%;
  margin: 0;
  padding: 5px;
  background: #4b5b65;
}


#logo {
  font-size: 20px;
  margin: 0 5px 0 30px;
  background-color:#2f393f;
  color:white;
}

.nav{
  list-style: none;
}

.nav li {
  padding: 0 5px;  
}

.menuLink{
  font-size: 12px;
  background:#2f393f;
  color:white;
  outline: none;
  text-decoration: none;
  display: inline-block ;
  text-align: center;
  line-height: 3;
  border-radius: 20px;
  padding: 1px 22px 1px 22px;

}

    .menuLink:hover {
      color: white;
      background: #2f698d;
      text-decoration: none;
    }

    .menuLink:active {
      background: #de8c1c;
      color: white;
    }
  
.LoginLink{
  font-size: 12px;
  background:#687e8c;
  color:white;
  outline: none;
  flex-basis: 10%;
  text-decoration: none;
  text-align: center;
  line-height: 3;
  border-radius: 20px;
}

    .LoginLink:hover {
      color: white;
      background: #2f698d;
      text-decoration: none;
    }

    .LoginLink:active {
      background: #de8c1c;
      color: white;
    }
    

.footer[b-k77iyhiojw] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

td{
  text-align: center
}

.form{
  position: relative;
  width:30rem;
  height:5rem;
  margin-bottom: 10px;
}

.form__input{
  position: absolute;
  width:100%;
  height:100%;
  top: 0;
  left:0;
  border: 2px solid #BDE8F9;
  border-radius:15px;
  outline:none;
  padding:0 20px 0 10px;
  background: #e8f0fe;
}

  .form__input:hover{
    border: 2px solid #3AC1F8;
  }
  
  .form__input:focus{
    border: 2px solid #3AC1F8;
    background: #e8f0fe;
  }

.form__label{
  position:absolute;
  opacity: 0.6;
  left: 0.7rem;
  top: 0.2rem;
}

.form__input:focus ~ .form__label{
  color: grey;
  opacity: 0.4;
}


.line{
  border: 1px solid black;
  width: 100%;
  opacity: 0.1;
  margin-bottom: 20px;
}

h1{
  margin-bottom: 0px;
}

.time{
  width:100%; 
  border-top: 2px solid rgb(124, 124, 124);
}

.mensaje{
  width:120%;
  height: 60%;
  margin: 10px;
}

.att{
  width:100%;
  border-bottom: 2px solid rgb(102, 102, 102);
  align-items: flex-end;
  margin-bottom: 10px;
}

@media screen and (max-width: 700px) {
  .form{
    position: relative;
    width:19rem;
    height:4rem;
    margin-bottom: 15px;
  }

  .LoginLink{
    font-size: 12px;
    background:#687e8c;
    color:white;
    outline: none;
    flex-basis: 10%;
    text-decoration: none;
    text-align: center;
    line-height: 3;
    border-radius: 20px;
    padding: 0 7px 0 7px;
  }

  .mensaje{
    width:100%;
    height: 60%;
    margin: 10px;
  }

  .menuLink{
    font-size: 12px;
    background:#2f393f;
    color:white;
    outline: none;
    text-decoration: none;
    display: inline-block ;
    text-align: center;
    line-height: 3;
    border-radius: 20px;
    padding: 1px 22px 1px 22px;
    margin:2px;
  
  }

  .botonnav{
    margin: 3px;
  }
}

